{% extends 'baseBack.html.twig' %}

{% block title %}Edit Chauffeur{% endblock %}

{% block body %}
    <h1>Edit Chauffeur</h1>

    {{ include('chauffeur/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_chauffeur_index_back') }}">back to list</a>

{% endblock %}
