{% extends 'baseFront.html.twig' %}

{% block title %}New Infotrafic{% endblock %}

{% block body %}
    <h1>Create new Infotrafic</h1>

    {{ include('infotrafic/_form.html.twig') }}

    <a href="{{ path('app_infotrafic_index') }}">back to list</a>
{% endblock %}
