<div class="col-lg-5">
                         <div class="card mb-4">
                                    <div class="card-header with-elements">
                                        <h6 class="card-header-title mb-0"></h6>
                                        <div class="card-header-elements ml-auto">
                                        
                                {{ form_start(form, {'action': path('app_pay_method_new'), 'attr': {'novalidate': 'novalidate'}}) }}
   
    {{ form_widget(form) }}
    <button class="btn">{{ 'Save'}}</button>
{{ form_end(form) }}
                                   
                                       <div>HELLOOOOOO</div>
                                        </div>
                                    </div>
                                    
                                </div>
                           </div>